<h1><%= I18n.t("app.title") %></h1>

<div>
<% if user_signed_in? %>
  <%= current_user.email %>
<% else %>
  <%= link_to  I18n.t("devise.sessions.new.sign_in"), new_user_session_path%>
<% end %>
</div>

